@model AdvertViewModel

<div class="form-group" hidden="hidden">
    <label asp-for="AdvertDto.Id"></label>
    <input class="form-control" asp-for="AdvertDto.Id" readonly="readonly" />
</div>
<div class="form-group">
    <label asp-for="AdvertDto.Number"></label>
    <input class="form-control" asp-for="AdvertDto.Number" readonly="@Model.ReadOnly" />
    <span asp-validation-for="AdvertDto.Number" class="text-danger"></span>
</div>

@if (@Model.ShowViewModelPublishingDate)
{
    <div class="form-group">
        <label asp-for="PublishingDate"></label>
        <input class="form-control" type="datetime-local" asp-for="PublishingDate" />
        <span asp-validation-for="PublishingDate" class="text-danger"></span>
    </div>
}
else
{
    <div class="form-group">
        <label asp-for="AdvertDto.PublishingDate"></label>
        <input class="form-control" type="datetime-local" asp-for="AdvertDto.PublishingDate" readonly="@Model.ReadOnly" />
        <span asp-validation-for="AdvertDto.PublishingDate" class="text-danger"></span>
    </div>
}

<div class="form-group">
    <label asp-for="AdvertDto.UserId"></label>
    <select class="custom-select" asp-for="AdvertDto.UserId" asp-items="@Model.UserSelectList" disabled="@Model.ReadOnly">
        <option value="">Выберите пользователя</option>
    </select>
    <span asp-validation-for="AdvertDto.UserId" class="text-danger"></span>
    @if (Model.ShowMaxUserAdvertsCountLimitErrorMessage)
    {
        <span class="text-danger">Для этого пользователя исчерпан лимит по добавленным объявлениям!</span>
    }
</div>
<div class="form-group">
    <label asp-for="AdvertDto.Content"></label>
    <textarea class="form-control" rows="10" asp-for="AdvertDto.Content" readonly="@Model.ReadOnly"></textarea>
    <span asp-validation-for="AdvertDto.Content" class="text-danger"></span>
</div>

@if (!Model.HideImageChooser)
{
    <div class="form-group">
        <label asp-for="ImageFromFile"></label>
        <input class="fil" type="file" asp-for="ImageFromFile" accept="image/*" />
        <p><span class="text-danger" asp-validation-for="ImageFromFile"></span></p>
    </div>
}

<div class="form-group">
    <label asp-for="AdvertDto.Rate"></label>
    <input asp-for="AdvertDto.Rate" type="number" class="form-control" readonly="@Model.ReadOnly" />
    <span asp-validation-for="AdvertDto.Rate" class="text-danger"></span>
</div>
