@using MvcAdvertizer.Core.Domains;
@using MvcAdvertizer.Core.ViewModels;
@using MvcAdvertizer.Config.Tools;
@model AdvertListViewModel

@{
    ViewData["Title"] = "Index";
}
@addTagHelper " *, Microsoft.AspNetCore.Mvc.TagHelpers"
@addTagHelper *, MvcAdvertizer

<!DOCTYPE html>

<html>
<head>
    <title>Объявления</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/redmond/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    @*<div class="alert-success" style="margin:20px;padding:15px;height:50px; text-align:center;">Используем NPM</div>*@
    @*<script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            //Initialise all datepickers whose class name are mydatepicker
            // Display them with a button which containes a small calendar icon.
            $(".mydatepicker")
                .wrap('＜div class="input-group"＞')
                .datepicker({
                    dateFormat: "dd.mm.yy",
                    changeYear: true,
                    yearRange: "-70:+0",//year selection is possible from starting 70 years before now
                    showOn: "both"
                })
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Select Date",
                    text: false
                })
                .addClass("btn btn-default")
                .wrap('＜span class="input-group-btn"＞')
                .find('.ui-button-text')
                .css({
                    'visibility': 'hidden',
                    'display': 'inline'
                });
        });
    </script>*@
   

    <style>
        @@font-face {
            font-family: 'FontAwesome';
            src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal
        }

        .glyphicon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }

        .glyphicon-chevron-right:before {
            content: "\f054";
        }

        .glyphicon-chevron-left:before {
            content: "\f053";
        }

        .glyphicon-chevron-down:before {
            content: "\f0d7";
            color: inherit;
        }

        .glyphicon-chevron-up:before {
            content: "\f0d8";
            color: inherit;
        }

        button {
            background: #ffffff;
            color: #252870;
            border-radius: 15px;
            padding: 5px 20px 5px 20px;
            padding-right: 20px;
            font-weight: bold;
        }

        table {
            border-collapse: separate; /* Способ отображения границы */
            border-spacing: 0px 20px; /* Расстояние между ячейками */
            min-width: 400px;
            width: auto;
            margin: auto;
        }

        tr {
            box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.12);
            -webkit-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.12);
            -moz-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.12);
            border-radius: 15px;
        }

            tr:first-child {
                box-shadow: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            }

        th {
            color: white;
            border: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }

            th:first-child {
                padding-left: 5px
            }

            th:last-child {
                padding-right: 5px
            }

        td {
            padding: 10px; /* Поля вокруг текста */
            color: #4200be;
        }

        /*a.likeSimpleText:link {
            color: inherit;
            text-decoration: inherit;
        }

        a.likeSimpleText:visited {
            color: inherit;
            text-decoration: inherit;
        }

        a.likeSimpleText:hover {
            color: inherit;
            text-decoration: inherit;
        }

        a.likeSimpleText:active {
            color: inherit;
            text-decoration: inherit;
        }*/

        /*.checkboxOfField {
            display: inline-block;
            width: 100%;
            background-color: red;
            height: 40px;
            line-height: 40px;
        }*/
    </style>

    <h3>Объявления</h3>
    <div>
        <div style="text-align: center;
        background: #4200be;
        height: 200px;
        margin-bottom: -50px;">
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")'">ДОБАВИТЬ</button>
            <form style="color:inherit;" asp-action="Index" method="get">
                <div class="form-inline form-group">
                    <div class="form-group">
                        <label class="control-label" style="color:white">от</label>
                        <input class="form-control" name="DateStartSearch" type="date" value="@Model.AdvertSearchObject.DateStartSearchString"/>
                        <span asp-validation-for="@Model.AdvertSearchObject.DateStartSearch" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" style="color:white">до</label>
                        <input class="form-control" name="DateEndSearch" type="date" value="@Model.AdvertSearchObject.DateEndSearchString" />
                        <span asp-validation-for="@Model.AdvertSearchObject.DateEndSearch" class="text-danger"></span>
                    </div>

                    <select name="userId" asp-for="@Model.AdvertSearchObject.UserId" asp-items="@Model.UserSearchList" class="form-control" onchange="this.form.submit()"></select>

                    <input type="text" placeholder="Общий поиск" name="SearchStringQuery" value="@Model.AdvertSearchObject.SearchStringQuery" />
                    <input type="hidden" name="PageSize" value="@Model.RepresentObjectConfigurator.PageSize" />
                    <input type="hidden" name="SortOrderName" value="@Model.SortingListTool.SortOrderName" />
                    <input type="hidden" name="SortDirection" value="@Model.SortingListTool.SortDirection" />
                    <input type="hidden" name="NotChangeSort" value=true />
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </form>
            <label class="control-label" style="color:white">Найдено записей: @Model.Adverts.ItemsCount</label>
        </div>

        <div style="margin: 0px 10px 0px 10px;">
            <table>
                <tr>
                    <th>
                        <a style="color:inherit;"
                           asp-action="Index"
                           asp-route-sortOrderName="@Model.SortingListTool?.GetSortingElementByName("Number")"
                           asp-route-sortDirection="@Model.SortingListTool?.GetSortingElementByName("Number")?.MirrorSortDirection"
                           asp-route-userId="@Model.AdvertSearchObject.UserId"
                           asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                           asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                           asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                           asp-route-pageSize="@Model.RepresentObjectConfigurator.PageSize">Номер <sort-header current-sort="@Model.SortingListTool?.GetSortingElementByName("Number")?.SortDirection" /></a>
                    </th>
                    <th>
                        <a style="color:inherit;"
                           asp-action="Index"
                           asp-route-sortOrderName="@Model.SortingListTool?.GetSortingElementByName("CreatedOn")"
                           asp-route-sortDirection="@Model.SortingListTool?.GetSortingElementByName("CreatedOn")?.MirrorSortDirection"
                           asp-route-userId="@Model.AdvertSearchObject.UserId"
                           asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                           asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                           asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                           asp-route-pageSize="@Model.RepresentObjectConfigurator.PageSize">Создано <sort-header current-sort="@Model.SortingListTool?.GetSortingElementByName("CreatedOn")?.SortDirection"/></a>
                    </th>
                    <th>
                        <a style="color:inherit;"
                           asp-action="Index"
                           asp-route-sortOrderName="@Model.SortingListTool?.GetSortingElementByName("Content")"
                           asp-route-sortDirection="@Model.SortingListTool?.GetSortingElementByName("Content")?.MirrorSortDirection"
                           asp-route-userId="@Model.AdvertSearchObject.UserId"
                           asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                           asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                           asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                           asp-route-pageSize="@Model.RepresentObjectConfigurator.PageSize">Объявление <sort-header current-sort="@Model.SortingListTool?.GetSortingElementByName("Content")?.SortDirection" /></a>
                    </th>
                    <th>
                        <a style="color:inherit;"
                           asp-action="Index"
                           asp-route-sortOrderName="@Model.SortingListTool?.GetSortingElementByName("Rate")"
                           asp-route-sortDirection="@Model.SortingListTool?.GetSortingElementByName("Rate")?.MirrorSortDirection"
                           asp-route-userId="@Model.AdvertSearchObject.UserId"
                           asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                           asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                           asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                           asp-route-pageSize="@Model.RepresentObjectConfigurator.PageSize">Рейтинг <sort-header current-sort="@Model.SortingListTool?.GetSortingElementByName("Rate")?.SortDirection" /></a>
                    </th>
                    <th>
                        Пользователь
                    </th>
                </tr>
                @foreach (Advert advert in Model.Adverts)
                {
                    <tr>
                        <td>
                            <input style="width: 20px; height: 20px; float: left; display: inline-block;" type="checkbox" value="@advert.Selected" />
                            <span style="float:right; display: inline-block;">@advert.Number</span>
                        </td>
                        <td>@advert.CreatedOn?.ToString("dd/MM/yyyy")</td>
                        <td>@advert.Content</td>
                        <td style="text-align:right">@advert.Rate</td>
                        <td style="text-align:right">@advert.User?.Name</td>
                    </tr>
                }
            </table>

            <div>
                <div>
                    <span style="float:left">Количество строк на странице:</span>
                    <ul class="pagination">
                        @{
                            var additional = Model.RepresentObjectConfigurator.PageSize.ToString() == "1" ? "active" : "";
                        }
                        <li class="page-item  @additional">
                            <a class="page-link" style="margin-left:10px;margin-right:10px"
                               asp-action="Index"
                               asp-route-sortOrderName="@Model.SortingListTool.SortOrderName"
                               asp-route-sortDirection="@Model.SortingListTool.SortDirection"
                               asp-route-notChangeSort=true
                               asp-route-userId="@Model.AdvertSearchObject.UserId"
                               asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                               asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                               asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                               asp-route-pageSize=1>
                                1
                            </a>
                        </li>
                        @{
                            additional = Model.RepresentObjectConfigurator.PageSize.ToString() == "3" ? "active" : "";
                        }
                        <li class="page-item  @additional">
                            <a class="page-link" style="margin-right:10px"
                               asp-action="Index"
                               asp-route-sortOrderName="@Model.SortingListTool.SortOrderName"
                               asp-route-sortDirection="@Model.SortingListTool.SortDirection"
                               asp-route-notChangeSort=true
                               asp-route-userId="@Model.AdvertSearchObject.UserId"
                               asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                               asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                               asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                               asp-route-pageSize=3>
                                3
                            </a>
                        </li>
                        @{
                            additional = Model.RepresentObjectConfigurator.PageSize.ToString() == "5" ? "active" : "";
                        }
                        <li class="page-item  @additional">
                            <a class="page-link" style="margin-right:10px"
                               asp-action="Index"
                               asp-route-sortOrderName="@Model.SortingListTool.SortOrderName"
                               asp-route-sortDirection="@Model.SortingListTool.SortDirection"
                               asp-route-notChangeSort=true
                               asp-route-userId="@Model.AdvertSearchObject.UserId"
                               asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                               asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                               asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                               asp-route-pageSize=5>
                                5
                            </a>
                        </li>
                        @{
                            additional = @Model.RepresentObjectConfigurator.PageSize.ToString() == "10" ? "active" : "";
                        }
                        <li class="page-item  @additional">
                            <a class="page-link" style="margin-right:10px;"
                               asp-action="Index"
                               asp-route-sortOrderName="@Model.SortingListTool.SortOrderName"
                               asp-route-sortDirection="@Model.SortingListTool.SortDirection"
                               asp-route-notChangeSort=true
                               asp-route-userId="@Model.AdvertSearchObject.UserId"
                               asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                               asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                               asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                               asp-route-pageSize=10>
                                10
                            </a>
                        </li>
                    </ul>
                </div>

                <page-link page-model="Model.Adverts" page-action="Index"
                           page-url-sortOrderName="@Model.SortingListTool.SortOrderName"
                           page-url-sortDirection="@Model.SortingListTool.SortDirection"
                           page-url-notChangeSort=true
                           page-url-userId="@Model.AdvertSearchObject.UserId"
                           page-url-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                           page-url-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                           page-url-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                           page-url-pageSize="@Model.RepresentObjectConfigurator.PageSize"></page-link>

                @{
                    var prevDisabled = !Model.Adverts.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Adverts.HasNextPage ? "disabled" : "";
                }

                <a asp-action="Index"
                   asp-route-sortOrderName="@Model.SortingListTool.SortOrderName"
                   asp-route-sortDirection="@Model.SortingListTool.SortDirection"
                   asp-route-notChangeSort=true
                   asp-route-userId="@Model.AdvertSearchObject.UserId"
                   asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                   asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                   asp-route-pageNumber="@(Model.Adverts.PageIndex - 1)"
                   asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                   asp-route-pageSize="@Model.RepresentObjectConfigurator.PageSize"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrderName="@Model.SortingListTool.SortOrderName"
                   asp-route-sortDirection="@Model.SortingListTool.SortDirection"
                   asp-route-notChangeSort=true
                   asp-route-userId="@Model.AdvertSearchObject.UserId"
                   asp-route-dateStartSearch="@Model.AdvertSearchObject.DateStartSearchString"
                   asp-route-dateEndSearch="@Model.AdvertSearchObject.DateEndSearchString"
                   asp-route-pageNumber="@(Model.Adverts.PageIndex + 1)"
                   asp-route-searchStringQuery="@Model.AdvertSearchObject.SearchStringQuery"
                   asp-route-pageSize="@Model.RepresentObjectConfigurator.PageSize"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>

            </div>

        </div>
    </div>







</body>
</html>